<div class="main-div" [class.alternative] = "darkMode">
    <mat-toolbar color = "primary">
        <div class="logo">
            <button mat-button data-cy="home" routerLinkActive="active" routerLink="/home">
                <img src="./assets/TaskAru.png" alt="Custom Logo" width="160.37px" height="50.75px"/>
            </button> &nbsp;&nbsp;
        </div>
        <div class = "spacer"></div>
    
        <button mat-button data-cy="Sign In" routerLinkActive="active" routerLink="/signin" *ngIf="!signedIn">Sign In</button> &nbsp;&nbsp;
        <button mat-raised-button data-cy="Sign Up" routerLinkActive="active" routerLink="/signup" *ngIf="!signedIn">Sign Up</button> &nbsp;&nbsp;
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="signedIn" (click)="hideBadge()">
            <mat-icon [matBadge]="showBadge ? '1' : null" matBadgeColor="warn" class="notifications-icon" matBadgeSize="small">notifications</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <div *ngFor="let notification of notifications" class="notifs" mat-menu-item>
                {{ notification.title }} is due soon on {{ notification.date }}!
            </div>
            <div *ngIf="notifications.length===0" class="notifs" mat-menu-item>
                 No new notifications! 
            </div>
        </mat-menu>
        <button mat-raised-button data-cy="Sign Out" *ngIf="signedIn" (click)="signOut()">Sign Out</button> &nbsp;&nbsp;
        <mat-button-toggle-group (click)="toggleMode()" multiple>
            <mat-button-toggle value="mode" data-cy="Toggle Mode">
                <mat-icon *ngIf="!darkMode" data-cy="Light">
                    wb_sunny
                </mat-icon>
                <mat-icon *ngIf="darkMode" data-cy="Dark">
                    panorama_fish_eye
                </mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-toolbar>
</div>
  
