<div class="main-div" [class.alternative] = "darkMode">
    <mat-toolbar color = "primary">
        <div class="logo">
        <span>TaskAru</span> &nbsp;&nbsp;
        </div>
        <button mat-button routerLinkActive="active" routerLink="/home">Home</button> &nbsp;&nbsp;
    
        <button mat-button routerLinkActive="active" routerLink="/calendar">Calendar</button>&nbsp;&nbsp;
        <div class = "spacer"></div>
    
        <button mat-button data-cy="Sign In" routerLinkActive="active" routerLink="/signin" *ngIf="!signedIn">Sign In</button> &nbsp;&nbsp;
        <button mat-raised-button data-cy="Sign Up" routerLinkActive="active" routerLink="/signup" *ngIf="!signedIn">Sign Up</button> &nbsp;&nbsp;
        <button mat-raised-button data-cy="Log Out" *ngIf="signedIn" (click)="signOut()">Sign Out</button> &nbsp;&nbsp;
        <mat-button-toggle-group (click)="toggleMode()" multiple>
            <mat-button-toggle value="light">
                <mat-icon *ngIf="!darkMode">
                    wb_sunny
                </mat-icon>
                <mat-icon *ngIf="darkMode">
                    panorama_fish_eye
                </mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-toolbar>
</div>
  
