@use '@angular/material' as mat;
@import "../node_modules/@angular/material/theming";
@include mat-core();

$md-mcgpalette0: (
    50 : #e8eaf6,
    100 : #c5cae9,
    200 : #9fa8da,
    300 : #7986cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #3949ab,
    700 : #303f9f,
    800 : #2c3e50,
    900 : #1a237e,
    A100 : #8c9eff,
    A200 : #536dfe,
    A400 : #3d5afe,
    A700 : #304ffe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-primary: mat-palette($md-mcgpalette0, 800);
$my-accent: mat-palette($mat-green, A400);
$my-warn: mat-palette($mat-red, 400);

$my-theme: mat-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn
    ),
));

@include mat.all-component-themes($my-theme);

.dark-mode{
    $my-primary: mat-palette($md-mcgpalette0, 800);
    $my-accent: mat-palette($mat-green, A400);
    $my-warn: mat-palette($mat-red, 400);

    $dark-theme: mat-dark-theme((
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn
        ),
    ));

    @include mat.all-component-colors($dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    --bkg-color:#eee;
    --text-color: #222;
}

body.dark-mode {
    --bkg-color:#212121;
    --text-color: #eee;
}

body {
    background: var(--bkg-color)
}

h1,
p, 
a,
.center {
    color: var(--text-color)
}

.mat-button {
    text-decoration: none !important;
}


