<div class="form-container" [class.alternative] = "darkMode">
    <h1>Reset Password</h1>
    <form [formGroup]="resetForm">
        <div class="row">
            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput placeholder="Minimum 8 characters" formControlName="password" type="password" required minlength="8"/>
                <mat-error *ngIf="resetForm.get('password')!.hasError('required')">
                    Please enter a valid password
                </mat-error>
                <mat-error *ngIf="resetForm.get('password')!.hasError('minlength')">
                    Password must be at least 8 characters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Re-enter your password</mat-label>
                <input matInput placeholder="Minimum 8 characters" formControlName="confirmPassword" type="password"/>
                <mat-error *ngIf="resetForm.get('confirmPassword')!.hasError('matching')">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
        </div>
        <div class="center">
            <button mat-raised-button color="primary" type="submit">
                Reset
            </button>
        </div>
        <span></span>
    </form>
</div>

