<div class="form-container" [class.alternative] = "darkMode">
    <h1>Forgot Password</h1>
    <form [formGroup]="forgotForm" (ngSubmit)="forgot()">
        <div class="row">
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="Ex. johnsmith123@example.com" formControlName="email">
                <mat-error *ngIf="forgotForm.get('email')!.hasError('required')" data-cy="error">
                    Please enter a valid email
                </mat-error>
                <mat-error *ngIf="forgotForm.get('email')!.hasError('invalidEmail')" data-cy="error">
                    Account with this email not found
                </mat-error>
            </mat-form-field>
        </div>
        <div class="center">
            <button mat-raised-button color="primary" data-cy="Submit Forgot" type="submit">
                Submit
            </button>
        </div>
        <span></span>
    </form>
</div>
