.form-container {
    display: block;
    max-width: 526px;
    margin-top: 32px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    box-shadow: inset;
    border: 3px solid rgba(163, 163, 163, 0.733);
    padding: 36px;
    border-radius: 16px;
}

.form-container{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.margin-top{
    margin-top: 16px;
}

.text-center{
    text-align: center;
}
