.center{
  display: block;
  justify-content: center;
  max-width: 1100px;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px;
  border: 3px solid rgba(163, 163, 163, 0.733);
  border-radius: 16px;
}

:host ::ng-deep .fc-toolbar-title {
  margin-right: 50px;
}
