<div class="row box">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active"aria-current="page">Events</li>
    </ol>
  </nav>
  <div class="col-md-5 mt-3">
    <h1 class = "text-muted mb-6 text-center">View Events in Calendar Mode</h1>
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

</div>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">This is a Event</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Event Details
  </div>
</ng-template>