
.form-container {
    display: block;
    max-width: 400px;
    margin-top: 32px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    color:aliceblue;
    padding: 48px;
    border: 3px solid rgba(163, 163, 163, 0.733);
    border-radius: 16px;
}

.form-container{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.margin-top{
    margin-top: 16px;
}

.text-center{
    text-align: center;
}

.cen {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}