<div class="form-container" [class.alternative] = "darkMode">
    <h1>Sign In</h1>
    <form [formGroup]="signinForm" (ngSubmit)="signIn()">
        <div class="row">
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. johnsmith123@example.com"/>
                <mat-error *ngIf="signinForm.get('email')!.hasError('required') || signinForm.get('email')!.hasError('email')">
                    Please enter a valid email
                </mat-error>
                <mat-error *ngIf="signinForm.get('email')!.hasError('invalidEmail')">
                    Account with this email not found
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput formControlName="password" placeholder="Minimum 8 characters" type="password" required minlength="8"/>
                <mat-error *ngIf="signinForm.get('password')!.hasError('required')">
                    Please enter a valid password
                </mat-error>
                <mat-error *ngIf="signinForm.get('password')!.hasError('minlength')">
                    Password must be at least 8 characters
                </mat-error>
            </mat-form-field>
        </div>
        <mat-checkbox class="remember">Remember Me</mat-checkbox>
        <div class="center">
            <button mat-raised-button data-cy="Submit SignIn" color="primary" type="submit">
                Sign In
            </button>
        </div>
        <span></span>
        <div class="cen">
            <p>Don't have an account?</p> &nbsp;
            <span class="signup">
                <a data-cy="Go SignUp" routerLink="/signup">Sign Up!</a>
            </span>
        </div>
    </form>
</div>
